body{
    background-color: #FAF7F0;
  }
  hr{
    border-style: dotted none none;
    width: 7%;
    border-color: grey;
    border-width: 10px;
  }
  h1{
    color: goldenrod;
  }
  h3{
    color: goldenrod;
  }